spring:
  application:
    name:  sc-eureka-server
server:
  port: 8761
eureka:
  client:
    service-url:
       defaultZone: http://localhost:8761/eureka/
    fetch-registry: false
    register-with-eureka: false